body {
  background-color: #ffeedd;
  padding: 10px;
  margin: 0px;
  font-family: Roboto, 'Noto Sans JP', sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  font-family: Roboto, 'Noto Sans JP', sans-serif !important;
}

.main-container {
  background-color: #fff;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  border-radius: 5px;
}

.sub-container {
  background-color: #fff;
  width: 100%;
  height: calc(100% - 34.8px);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.main-flex-container {
  display: flex;
  width: 100%;
  height: calc(100% - 34.2px);
}

.left-container {
  height: 100%;
  width: calc(70% - 0.5px);
}

.right-container {
  height: 100%;
  width: calc(30% - 0.5px);
}

.left-flex-container {
  display: flex;
  width: 100%;
  height: calc(100% - 33.2px);
}

.left-item-container {
  height: 100%;
  width: calc(50% - 0.25px);
}

.left-overflow-container {
  margin: 10px;
  overflow: auto;
  width: calc(100% - 20px);
  height: calc(100% - 54.2px);
}

.right-overflow-container-1 {
  margin: 10px 10px;
  overflow: auto;
  width: calc(100% - 10px);
  height: calc(46% - 33.2px);
  font-size: 12px;
}

.right-overflow-container-2 {
  margin: 10px 10px;
  overflow: auto;
  width: calc(100% - 10px);
  height: 20%;
  font-size: 12px;
}

.right-overflow-container-1>table,
.right-overflow-container-2>table {
  border-collapse: collapse;
  width: calc(100% - 10px);
}

.right-overflow-container-1>table th,
.right-overflow-container-1>table td,
.right-overflow-container-2>table th,
.right-overflow-container-2>table td,
.result-table th,
.result-table td {
  border: solid 1px #ff993388;
}

.result-table {
  margin: 10px;
  border-collapse: collapse;
  width: calc(100% - 20px);
}

thead th {
  background-color: #ff9933;
  color: #fff;
}

tbody td:first-child {
  text-align: left;
}

td {
  text-align: right;
}

.item {
  width: 100%;
  height: 40px;
  display: flex;
  margin-bottom: 2px;
}

.item-category {
  padding: 5px;
  height: 100%;
  align-content: center;
  color: #fff;
  font-weight: 600;
  width: 30px;
  text-align: center;
}

.border-orange-1>.item-category {
  background-color: #ff9933;
}

.border-blue-1>.item-category {
  background-color: #2288ff;
}

.item-name {
  padding: 5px;
  height: 100%;
  width: calc(65% - 30px);
  align-content: center;
  font-size: 14px;
}

.item-name2 {
  padding: 5px;
  height: 100%;
  width: calc(70% - 30px);
  align-content: center;
  font-size: 14px;
}

.item-number {
  padding: 5px 0;
  height: 100%;
  width: 15%;
  align-content: center;
  text-align: center;
}

.item-number2 {
  padding: 5px 0;
  height: 100%;
  width: 10%;
  align-content: center;
  text-align: right;
  font-weight: 500;
}

.item-number3 {
  padding: 5px 0;
  height: 100%;
  width: 20%;
  align-content: center;
  text-align: right;
  font-weight: 500;
}

.item-button-container {
  padding: 5px;
  height: 100%;
  width: 10%;
  align-content: center;
  text-align: center;
}

.item-button-container>button {
  height: 28px;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.border-orange-1>.item-button-container>button {
  background-color: #ff9933;
}

.border-blue-1>.item-button-container>button {
  background-color: #2288ff;
}

.border-orange-1>.item-button-container>button:hover {
  background-color: #ff993388;
}

.border-blue-1>.item-button-container>button:hover {
  background-color: #2288ff88;
}

.border-orange-1>.item-button-container>button:disabled,
.border-blue-1>.item-button-container>button:disabled {
  background-color: gray;
}

.register-result-container {
  width: 100%;
  padding: 5px 10px;
  display: flex;
}

.submit-button {
  width: 90px;
  height: 30px;
  background-color: #ff9933;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #ff993388;
}

.submit-button:disabled {
  background-color: gray;
}

.border-orange-1>.item-number>span {
  color: #ff9933;
}

.border-blue-1>.item-number>span {
  color: #2288ff;
}

.p-text-white {
  margin: 0;
  padding: 5px 10px;
  color: #ff9933;
  font-size: 16px;
  font-weight: 600;
}

.p-text-orange {
  margin: 0;
  padding: 5px 10px;
  background: #ff9933;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.hr-1 {
  border: solid 1px #ffddbb;
  margin: 0;
}

.hr-2 {
  border: solid 1px #ff9933;
  margin: 0;
}

.vr-1 {
  height: 100%;
  width: 0;
  border: solid 0.5px #ffddbb;
}

.vr-2 {
  height: 100%;
  width: 0;
  border: solid 1px #ff9933;
}

.border-orange-1 {
  border: solid 1px #ff9933;
}

.border-orange-2 {
  border: solid 2px #ff9933;
}

.border-blue-1 {
  border: solid 1px #2288ff;
}

.border-blue-2 {
  border: solid 2px #2288ff;
}

.account-item {
  border: solid 1px #ff9933;
  border-radius: 5px;
  height: 60px;
  display: flex;
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
}

.account-item-id {
  height: 100%;
  width: 12%;
  background-color: #ff9933;
  color: white;
  align-content: center;
  text-align: center;
}

.account-item-right {
  height: 100%;
  width: 88%;
  padding-left: 5px;
}

.account-item-topright {
  height: 25px;
  width: 100%;
  display: flex;
}

.account-item-bottomright {
  height: 35px;
  width: 100%;
  display: flex;
}

.account-item-text1 {
  height: 100%;
  font-size: 12px;
  align-content: center;
  text-align: left;
  color: gray;
}

.account-item-text2 {
  height: 100%;
  font-size: 14px;
  align-content: center;
  margin-right: 10px;
}

.account-item-number {
  height: 100%;
  font-size: 18px;
  align-content: center;
  margin-right: 2px;
  text-align: left;
  font-weight: 500;
}

.account-item-number2 {
  height: 100%;
  font-size: 24px;
  align-content: center;
  text-align: right;
  margin-right: 2px;
  color: #ff9933;
  font-weight: 600;
}

.account-item>a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ff993300;
}

.account-item>a:hover {
  background-color: #ff993311;
}